#main {
    display: flex;
    justify-content: space-around;
}
.wa{

  margin-left: 150px;

    padding: 25px;
}
#st {

    color: darkblue;
    background-color: aqua;
    font-size: 100px;
    text-align: center;


}

.di {
    background-color: black;
    color: white;
    width: 150px;
    border: 10px solid black;
    border-radius: 30px;
    text-align: center;
}

div h1 {
    font-size: 40px;
}

div p {
    font-size: 20px;
}
button{
    width: 100px;
}
body{
    background-color: rgb(21, 19, 19);
}