
.head{
    color: blue;
    text-align: center;
} 
.a{
    width: 20% !important;
} 
.main{
    margin: 25px;
}
.inp{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.balance{
    /* margin: 0; */
    padding-top: 20px;
    text-align: center;
    /* border: 2px solid blue; */
}
#total{
    line-height: 20px;
    font-size: xx-large;
    text-align: center;
}
.b{
    margin: 50px;
}
.total{
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; */
    /* align-self: ; */
    /* position: relative; */
    position: absolute;
        bottom: 0; 
        left: 40vw;
        right: 40vw;
        /* display: flex; */
        /* flex-direction: column; */
        text-align: left;
        text-transform: uppercase;
        /* justify-content: center; */
        font-weight: bold;
        /* color: white; */
        /* border: 2px solid orange; */
        width: 30vw;
        padding: 10px;
        /* height: 5vh; */
        /* flex-wrap: wrap; */
}